<div class="container">
  <div class="row">


    <button (click)="startSinglePlayerGame()">Solo Game</button>
    <div class="col-12" *ngIf="singlePlayer">
      <app-got-game></app-got-game>
    </div>

    <div class="col-12">
      <app-game [game]="currentGame" (onCloseGame)="onCloseGame($event)"></app-game>
    </div>
    <div class="col-12" *ngIf="!localPlayer">
      <app-login (onLoggedIn)="onLoggedIn($event)"></app-login>
    </div>
    <div class="col-lg-6 col-md-12" *ngIf="localPlayer && !currentGame">
      <app-game-overview [localPlayer]="localPlayer"
                         [games]="games"
                         (onCreateGame)="onCreateGame($event)"
                         (onCancelGame)="onCancelGame($event)"
                         (onJoinGame)="onJoinGame($event)"
                         (onLeaveGame)="onLeaveGame($event)"
                         (onStartGame)="onStartGame($event)"
      ></app-game-overview>
    </div>
    <div class="col-lg-6 col-md-12" *ngIf="localPlayer && !currentGame">
      <app-chat
        [localPlayer]="localPlayer"
        [connectedPlayers]="players"
        [messages]="messages"
        (onSendMessage)="onSendMessage($event)"></app-chat>
    </div>
  </div>
</div>
