<div class="main-menu">
  <div class="center-all">
    <div class="container">
      <div class="row ">
        <div class="col-12" align="center">
          <h1>{{'SETTINGS' | translate}}</h1>
        </div>
        <div class="col-12" align="center">
          <label>{{'LANGUAGE' | translate}}:</label>
          <select [(ngModel)]="selectedLanguage">
            <option *ngFor="let langKey of languageKeys" [ngValue]="langKey">{{languages.get(langKey) | translate}}
            </option>
          </select>
        </div>
        <div class="col-6" align="center">
          <button routerLink="/" routerLinkActive="active">{{'BACK' | translate}}</button>
        </div>
        <div class="col-6" align="center">
          <button routerLink="/" routerLinkActive="active" (click)="apply()">{{'APPLY' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
