<div class="main-menu">
  <div class="center-all">
    <div class="container">
      <div class="row ">
        <div class="col-12" align="center">
          <h1>Settings</h1>
        </div>
        <div class="col-12" align="center">
          <label>language:</label>
          <select>
            <option value="de">Deutsch</option>
            <option value="en">Englisch</option>
          </select>
        </div>
        <div class="col-6" align="center">
          <button routerLink="/" routerLinkActive="active">Zurück</button>
        </div>
        <div class="col-6" align="center">
          <button routerLink="/" routerLinkActive="active">Übernehmen</button>
        </div>
      </div>
    </div>
  </div>
</div>
