<div class="main-menu">
  <div class="center-all">
    <div class="container">
      <div class="row ">
        <div class="col-12" align="center">
          <h1>Scotland United</h1>
        </div>
        <div class="col-12" align="center">
          <button routerLink="/game/local" routerLinkActive="active">Singleplayer Game</button>
        </div>
        <div class="col-12" align="center">
          <button routerLink="/lobby" routerLinkActive="active">Multiplayer Game</button>
        </div>
        <div class="col-12" align="center">
          <button routerLinkActive="active">Settings</button>
        </div>
      </div>
    </div>
  </div>
</div>
